#inicio{
	margin-top: 60px;
}
#blateral{
	height: 88%;
	overflow: scroll;
	overflow-x: hidden;
}
.lista{
	height: 100px;
	overflow: scroll;
	overflow-x: hidden;
}
/*Colores*/
body{
	background-color: #084A4D;
}
.navbar{
	background-color: #002B2D;
}
.jumbotron{
	background-color: #97B4B5;
}
