#inicio{
	margin-top: 60px;
}
#blateral{
	height: 88%;
	overflow: scroll;
	overflow-x: hidden;
}
.lista{
	height: 100px;
	overflow: scroll;
	overflow-x: hidden;
}
.lista-imagenes{
	height: 300px;
	overflow: scroll;
	overflow-x: hidden;
}
.image-preview{
	height: 140px;
	width: 140px;
	margin-top: 10px;
}
/*Colores*/
body{
	background-color: #97ae9a;
}
